<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Adminsignup</servlet-name>
        <servlet-class>Adminsignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Votersignup</servlet-name>
        <servlet-class>Votersignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminlogin</servlet-name>
        <servlet-class>Adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Voterlogin</servlet-name>
        <servlet-class>Voterlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Participant</servlet-name>
        <servlet-class>Participant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Datetime</servlet-name>
        <servlet-class>Datetime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletedate</servlet-name>
        <servlet-class>Deletedate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Adminsignup</servlet-name>
        <url-pattern>/Adminsignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Votersignup</servlet-name>
        <url-pattern>/Votersignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminlogin</servlet-name>
        <url-pattern>/Adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Voterlogin</servlet-name>
        <url-pattern>/Voterlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Participant</servlet-name>
        <url-pattern>/Participant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Datetime</servlet-name>
        <url-pattern>/Datetime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletedate</servlet-name>
        <url-pattern>/Deletedate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
